@page "/sensoress"

<PageTitle>SENSOR</PageTitle>

@using SENSORLAB.Web.Models
@using SENSORLAB.Web.Data


@inject Sensor2Services SensorService2

<h1>SENSORES</h1>

<p>SENSORES</p>

    <table class="table">
        <thead>
            <tr>
                <th>idSensor</th>
                <th>fabricante</th>

            </tr>
        </thead>
        <tbody>
            @if (sensors.Count() > 0) { 
            @foreach (var Sensor in sensors)
            {
                <tr>
                    <td>@Sensor.idSensor</td>
                    <td>@Sensor.fabricante</td>
                    
                </tr>
            }
            }
        </tbody>
    </table>

@code {
    
    private List<Sensor> sensors = new();

    protected override async Task OnInitializedAsync()
    {     
      //  sensors  = await SensorService2. GetSensorAsync();
    }
}
